$primary-purple-clr: hsl(259, 100%, 65%);
$primary-red-clr: hsl(0, 100%, 67%);
$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 0%, 94%);
$neutral-300: hsl(0, 0%, 86%);
$neutral-400: hsl(0, 1%, 44%);
$neutral-900: hsl(0, 0%, 8%);
$default-font-size: 1.6rem;
$font-size-inputs-mobile: 2.5rem;
$font-family-poppins: "Poppins", sans-serif;
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
